/* Variable CSS */
:root {
    --header-height: 3.5rem;
    /* Colors */
    /* color mode Hue, Saturation, Lightness */
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);
    
    /* Font and Typogrpahy */
    /* .5rem = 8px | 1rem = 16px */
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1152) {
    :root {
        --biggest-font-size: 5.5rem;
        --h1-font-size:2.5rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

body{
    background-color: var(--body-color);
}

button,
input{
    outline: none;
    border: none;
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container{
    margin-inline: 1.5rem;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 50%;
}

.section{
    padding-block: 5rem 1rem;
    width: 100%;
}

.section__title{
    text-align: center;
    justify-self: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

/* HEADER & NAV */
.header{
    position:fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav__logo{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;

}
.nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* Kalau Safari */
    transition: top .4s;
}

.nav__logo img{
    width: 5rem;
}

.nav__list{
    text-align: center;
    display:  flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link{
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.nav__link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Active link */
.active-link::after{
    width: 70%;
}

.nav__link:hover::after{
    width: 70%;
}

/* Show menu */
.show-menu{
    top: 0;
}

/* Add blur to header */
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* Kalau Safari */
    top: 0;
    left: 0;
    z-index: -1;
}

/* Head Content */
.head__content{
    position: inherit;
    /* max-height: 300px; */
    padding: 5px;
    overflow: hidden;
}

.title__palo{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: hsla(0, 0%, 0%, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.head__content__img{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    height: 100%;
}

.container__tumpuk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: fit-content;
}

.home__img__potrait{
    width: 15%;
    aspect-ratio: 3/4;
}

/* AGENTS */


.agent__content{
    display: flex;
    flex-direction: row
}

.left__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    aspect-ratio: 3/4;
    border: 2px solid white;
    overflow: hidden;
}


.Agent__image{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0),  hsl(0, 0%, 25%));
    height: 80%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 10px;
}

.Agent__img__soon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.Agent__img:hover{
    transform: scale(1.05);
    transition: ease-in-out .25s;
}

.Agent__image:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5),  hsl(0, 0%, 25%));
}

.Agent__details{
    display: flex;
    flex-direction: column;
    height: 20%;
    border-top: 2px solid white;
    background-color: var(--container-color);
}

.Agent__image__soon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Agent__image__soon:hover{
    transform: scale(1.1);
    transition: ease-in-out .25s;
}

.Agent__location{
    display: flex;
    flex-direction: row;
    justify-content :center;
    text-align: center;
    font-size: var(--small-font-size);
    padding-top: 5px;
    color: var(--text-color-light);
}

.Agent__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    padding-bottom: 5px;
}

.right__content{
    width: 1000px;
    height: auto;
    aspect-ratio: 4/3;
    position: fixed;
    right: 150%;
}

.description{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid white;
    background-color: var(--container-color);
    margin-top: 1rem;
    overflow: hidden;
}

.Name__agent{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    padding-top: 5px;
}

.story {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid white;
    background-color: var(--container-color);
    margin-top: 1rem;
}

.story h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    padding-bottom: 5px;
}

.story p {
    font-size: var(--normal-font-size);
    text-align: justify;
    padding-bottom: 5px;
}

.skill{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid white;
    background-color: var(--container-color);
    margin-top: 1rem;
    align-items: center;
}

.skill__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--container-color);
    margin-top: 1rem;
}

.skill__icon{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.skill__img {
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
}

.show-desc{
    right: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .5s;
}


/* Footer */
.footer{
    padding-block: 2.5rem;
    background-color: var(--container-color);
}

.footer__content{
    row-gap: 3.5rem;
}

.footer__logo{
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;   
}

.footer__data{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
}

.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links{
    display: grid;
    row-gap: 0.75rem;
}

.footer__link{
    color: var(--text-color);
    transition: color .4s;
}

.footer__link:hover{
    color: var(--title-color);
}

.footer__group,
.footer__social{
    display: flex;
}

.footer__group{
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.footer__social{
    column-gap: 1.5rem;
}

.footer__social-link{
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color .4s, transform .4s;
}

.footer__social-link:hover{
    color: var(--title-color);
    transform: translateY(-.25rem);
}

.footer__copy{
    text-align: center;
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 30%);
}

/* Scroll Up */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* Buat Safari */
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

/* show scroll up */
.show-scroll{
    bottom: 3rem;
}